[Unit]
Description=Starts encryption from den to rustic-den

[Service]
Type=simple
ExecStart=%h/.local/bin/enctron.sh

[Install]
WantedBy=default.target
